:root {
    --bombColor:red;
    --backColor: #160842;
    --backPageColor: #0d042b;
    --mainColorViolet: #3e0248;
    --mainColor: rgb(84, 68, 236);
    --emptyColor: #fffffff3;
    --borderBold: 1px;
}
body {
    margin: 0;
    padding: 0;
    color: var(--mainColor);
    font-family: sans-serif;
    background-color: var(--backPageColor);
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#superboard {
    width: 1251px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color: var(--mainColor);
    border-bottom:  var(--borderBold) solid var(--mainColor);
    border-top:     var(--borderBold) solid var(--mainColor);
    border-left:    var(--borderBold) solid var(--mainColor);
    border-right:   var(--borderBold) solid var(--mainColor);
    background-color: var(--backColor);
}
input {
    padding: 7px 10px;
    border-radius: 5px;
    background-color: var(--emptyColor);
    border-color: var(--backColor);
    font-size: 14px;
    font-weight: bold;
/*    max-block-size: 50px;*/
    max-inline-size: 65px;
}
button {
    padding: 7px 10px;
    border-radius: 5px;
    background-color: var(--backColor);
    color: white;
    border-color: var(--backColor);
    font-size: 18px;
    transition: 200ms transform;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.box:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: var(--mainColor);
}

