<!doctype HTML>
<HTML lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper Game</title>
    <link rel="stylesheet" href="static/css/game.css">
</head>
<body>
    <div class="container">
        <h1 id="statusText">Time to play!</h1>
        <div id="new_game_box">
            <button id="new_gameBtn">New Game</button>
            <input type="number" id="txtSize" value="10">
            <input type="number" id="txtMines" value="10">
        </div>
        <div id="id_game_box">
            <label text="Game N#: -"></label>
            <button id="resume_gameBtn">Resume Game</button>
            <input type="number" id="txtGame_id" value="1">
        </div>
        <button id="flag_onBtn" value="0">Flag OFF</button>
        <div id="id_game">0</div>
        
        <div id="superboard">
            <!--<div class="box" id="0"></div>-->

        </div>
    </div>
    <script src="static/js/game.js"></script>
</body>
</HTML>