<!doctype HTML>
<HTML lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper Game</title>
    <link rel="stylesheet" href="static/css/game.css">
</head>
<body>
    <div class="container">
        <h1 id="statusText">Time to play!</h1>
        <button id="restartBtn">Restart Grid</button>
        <span><div id="id_game" value="0">0</div></span>
        
        <div id="superboard">
            <!--<div class="box" id="0"></div>-->

        </div>
    </div>
    <script src="static/js/game.js"></script>
</body>
</HTML>